<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <title>Carnavalizando</title>
  </head>
  <body>
    <header id="headerGame">
     <div id="imgEscolaBorder">
         <img src="media/img/imgMocidade.jpg" alt="imgEscola" id="imgEscola" />
     
     </div>
     

    <div id="newsBoard"></div>

    <div id="flavorMenu">
        <section id="stats">
        <h3 id="statsDinheiro">Dinheiro: </h2>
        <h3 id="statsPop">Popularidade: </h2>
        <h3 id="statsSiner">Sinergia: </h2>
      </section>


       <button id="btnMenu">
        <span class="material-symbols-outlined" id="menuSpan"> menu </span>
      </button>

      <div id="boxMenu">
        <ul>
          <li>Salvar</li>
          <li>Opções</li>
          <li>Carregar</li>
          <li><a href="/cenarios">Sair</a></li>
        </ul>
      </div>

    </div>

  

     
    </header>
    <section id="mapaPrincipal">
      
    </section>

    <footer id="footer">
      
      <section id="linhaDoTempo">
        
      </section>
      <section id="timeSelect">
        <button id="btnPlay" class="btnTime">
          <span class="material-symbols-outlined"> play_arrow </span>
        </button>
        <button id="btnPause" class="btnTime">
          <span class="material-symbols-outlined" > pause </span>
        </button>
        <button id="btnFf" class="btnTime">
          <span class="material-symbols-outlined"> fast_forward </span>
        </button>
      </section>
    </footer>

  <script src="scripts/script.js"></script>
  </body>
  
</html>
