*{
  margin: 0;
  padding: 0;
}


.secFlex {
  margin: 15% 40% 20% 40%;
  
    text-align: center;
    
  display: flex;
  padding: 5px;
  
  flex-direction: column;
  background-color: rgb(16, 219, 219);
}

a{
  height: 2rem;
  margin: 5px; 
}

.btnInit {
  height: 100%;
  width: 100%;
  cursor: pointer;
  
}
 

#headerGame{
  
  display:flex;
  justify-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 0;
  
  
}

#headerGame div#imgEscolaBorder{
  background-color: black;
  padding: 0;
  margin: 0;
  max-width: 10%;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  margin: 2px;
  
}

#headerGame div#imgEscolaBorder #imgEscola {
 max-width: 100%;
  max-height: 100%;
 background-color: blueviolet;
  padding: 0;
  margin: 0;
  border-radius: 50%;

}

#headerGame div#flavorMenu{
  display: flex;
  width: 13rem;
  height: 10%;
  justify-content: space-between;
  background-color: blueviolet;
  
  flex-wrap: wrap;
  
}

#headerGame div#flavorMenu section#stats{
  display: flex;
  font-size: .6rem;
}

#btnMenu{
  padding: 1%;
  
  cursor: pointer;
}


#headerGame div#flavorMenu div#boxMenu{
  background-color: blue;
  
  width: 100%;
}
section#mapaPrincipal{
  background-color: rgb(49, 231, 104);
  

}

footer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  
  background-color: brown;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#linhaDoTempo{
  display: flex;
  
  width: 90%;
  background-color: aqua;
  margin: 0;
}

#timeSelect{
  width: 10%;
  background-color: bisque;
  display: flex;
  justify-content: space-evenly;
  
}


.btnTime{
  width:33%;
  cursor: pointer;
}

#div1{
  
  background-color: bisque;
  margin: 0 1px 0 1px

}